.step-button {
  height: 25px;
  width: 25px;
  margin: 1px;
  border-radius: 2px;
  border: 1px outset white;
  padding: 0px;
}

.step-button:hover {
  cursor: pointer;
}

.track:nth-child(n):nth-last-child(n+13) .step-button.on {
  background-color: var(--stepBeige);
}

.track:nth-child(n):nth-last-child(n+13) .step-button.on.playing {
  border: 1px solid var(--stepBeige);
  box-shadow: 0 0 10px var(--stepBeige);
}

.track:nth-child(n+5):nth-last-child(n+9) .step-button.on {
  background-color: var(--stepYellow);
}

.track:nth-child(n+5):nth-last-child(n+9) .step-button.on.playing {
  border: 1px solid var(--stepYellow);
  box-shadow: 0 0 10px var(--stepYellow);
}

.track:nth-child(n+9):nth-last-child(n+5) .step-button.on {
  background-color: var(--stepOrange);
}

.track:nth-child(n+9):nth-last-child(n+5) .step-button.on.playing {
  border: 1px solid var(--stepOrange);
  box-shadow: 0 0 10px var(--stepOrange);
}

.track:nth-child(n+13):nth-last-child(n) .step-button.on {
  background-color: var(--stepRed);
}

.track:nth-child(n+13):nth-last-child(n) .step-button.on.playing {
  border: 1px solid var(--stepRed);
  box-shadow: 0 0 10px var(--stepRed);
}
